@import 'base';

body {
	color: $color-text;
	font-family: $font-stack-default;
	font-size: 100%;
}

a {
	color:currentColor;
	text-decoration: none;
}

figure {
	margin: 0;
}

img {
	display: block;
	height: auto;
	max-width:100%;
}

[role=banner] {
	h1 {
		background-color: $color-white;
		font-size: px-to-ems(16px);
		max-height: px-to-ems(70px);
		padding:px-to-ems(15px) px-to-ems(30px);

		@media (min-width:layout-ems(1328px)) {
			padding-left: calc(50% - 634px);
			padding-right: calc(50% - 634px);
		}
	}
}

.title-bar {
	overflow: hidden;

	@media (max-width: 599px) {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	@media (min-width:layout-ems(600px)) {
		@include clearfix;
		background-color:$color-blue;
		padding-left:px-to-ems(30px);
	}

	@media (min-width:layout-ems(1328px)) {
		padding-left: calc(50% - 634px);
		padding-right: calc(50% - 634px);
	}
	h2 {
		background-color:$color-blue;
		color:$color-white;
		font-family: $font-stack-proxima;
		font-size: px-to-ems(28px);
		font-weight: 300;
		line-height: return-ems(48px,28px);
		padding:0 return-ems(30px,28px);
		margin: 0;
		text-align: center;
		width:100%;

		@media (min-width:layout-ems(600px)) {
			background-color: transparent;
			float: left;
			line-height: return-ems(61px,28px);
			padding: 0;
			text-align: left;
			width:auto;
		}

		@media (min-width:layout-ems(768px)) {
			font-size: px-to-ems(36px);
			line-height: return-ems(78px,36px);
		}
	}
}

.cta-button {
	@include center;
	background-color: $color-red;
	color: $color-white;
	display: block;
	font-family: $font-stack-proxima;
	font-size: px-to-ems(17px);
	font-weight: 700;
	letter-spacing: 3px;
	height: return-ems(61px,17px);
	line-height: return-ems(25px,17px);
	padding: return-ems(17px,17px) return-ems(30px,17px) 0;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	width:return-ems(245px,17px);

	@media (max-width:layout-ems(599px)) {
		flex: 0 0 251px;
		&::before {
			bottom:0;
			content: '';
			background-color: darken($color-red, 10%);
			position: absolute;
			top:0;
			left:-75%;
			right:-75%;
			z-index:-1;
		}
	}

	@media (min-width:layout-ems(600px)) {
		float: right;
		margin:0;
	}

	@media (min-width:layout-ems(768px)) {
		height: return-ems(78px,17px);
		padding-top: return-ems(26px,17px);
	}

	.icon {
		background:url(/wp-content/themes/brt-taxhub/_img/down-arrow.png) no-repeat;
		background-size:25px 24px;
		display: inline-block;
		float: right;
		height: return-ems(25px,17px);
		width: return-ems(25px,17px);
	}
}

.datamoji {
	position: relative;

	&::before {
		background: url(/wp-content/themes/brt-taxhub/_img/datamoji@1x.png) no-repeat;
		@include image-2x('/wp-content/themes/brt-taxhub/_img/datamoji@2x.png');
		background-size: 108px 20px;
		content: '';
		height: px-to-ems(20px);
		position: absolute;
		top:px-to-ems(6px);
		left:px-to-ems(6px);
		width: px-to-ems(108px);
		z-index:2;

		#thirty-years-later &, &.dark {
			background: url(/wp-content/themes/brt-taxhub/_img/datamoji@1x-dark.png) no-repeat;
			@include image-2x('/wp-content/themes/brt-taxhub/_img/datamoji@2x-dark.png');
			background-size: 108px 20px;
			left:auto;
			right: px-to-ems(6px);
		}
	}
}

ol.share-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    max-width: 120px;
    margin: 0;

		li > * {
		    -webkit-appearance: none;
		    display: block;
		    width: 30px;
		    height: 30px;
		    color: #fff;
		    background: #b1b6b9;
		    text-align: center;
		    line-height: 30px;
		    border: none;
		    outline: none;
		    margin: 0 3px;
		    border-radius: 3px;
		}
}

.sharing-tools {
	/*bottom:1.5%;
	left:0;
	height: px-to-ems(30px);
	position: absolute;
	right:0;

	@media (min-width:layout-ems(600px)) {
		bottom:3%;
	}

	@media (min-width:layout-ems(900px)) and (max-width:layout-ems(1099px)) {
		bottom:1.75%;
	}*/
	margin-top: -43px;
	position: relative;
}

.share-datamoji {
	color: #989898;
	float: left;
	font-family: $font-stack-proxima;
	font-size:px-to-ems(12px);
	font-weight: 800;
	margin-left:return-ems(30px,12px);
	margin-right: return-ems(20px,12px);
	padding-top:return-ems(2px,12px);
	letter-spacing: 2.57px;
	line-height: 1;
	text-transform: uppercase;

	@media (max-width: layout-ems(599px)) {
		display: none;
	}

	@media (min-width:layout-ems(900px)) and (max-width:layout-ems(1099px)) {
		display: none;
	}

	em {
		font-weight: 300;
		font-style: normal;
	}
}

.addthis_inline_share_toolbox {
	clear: none !important;
	float: left;

	@media (max-width: layout-ems(599px)) {
		margin-left: px-to-ems(20px);
	}

	@media (min-width:layout-ems(900px)) and (max-width:layout-ems(1099px)) {
		margin-left: px-to-ems(20px);
	}
}

.section-heading {
	color:$color-dark-red;
	font-family: $font-stack-proxima;
	font-size: px-to-ems(32px);
	font-weight: 300;
	letter-spacing: 1.92px;
	line-height: return-ems(38px,32px);
	margin-bottom: return-ems(30px,50px);
	text-transform: uppercase;

	@media (max-width:layout-ems(599px)) {
		background-color: $color-red;
		display: inline-block;
		padding:0 return-ems(6px,32px) return-ems(12px,32px);
	}

	@media (min-width:layout-ems(600px)) {
		font-size: px-to-ems(42px);
		line-height: return-ems(38px,50px);

		span {
			background-color: $color-red;
			display: inline-block;
			padding:0 return-ems(10px,50px) return-ems(20px,50px);
		}

		span + span {
			margin-top: return-ems(16px,50px);
		}

	}

	@media (min-width:layout-ems(900px)) and (max-width:layout-ems(1199px)) {
		font-size:calc(34px + (50 - 34) * (100vw - 900px) / (1200 - 900));
	}

	@media (min-width:layout-ems(1200px)) {
		font-size: px-to-ems(50px);
	}

	#thirty-years-later &,
	#two-million-new-jobs & {
		color: $color-white;
	}
}

.text-content p {
	font-size:px-to-ems(18px);
	line-height: return-ems(30px,22px);

	@media (min-width:layout-ems(600px)) {
		font-size:px-to-ems(22px);
	}

	@media (min-width:layout-ems(900px)) and (max-width:layout-ems(1199px)) {
		font-size:calc(16px + (22 - 16) * (100vw - 900px) / (1200 - 900));
	}

	& + p {
		margin-top: return-ems(26px,22px);
	}
}

.responsive-iframe {
	position: relative;
	width: 100%;
	padding-bottom: 56%;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

#new-video-section {
	@include clearfix;
	background:url(/wp-content/themes/brt-taxhub/_img/30yrs-later@1x.jpg) no-repeat center center;
	background-size: cover;
	color:$color-white;
	padding:100px px-to-ems(30px) 100px;
	position: relative;

	@media (min-width:layout-ems(1328px)) {
		padding-left: calc(50% - 634px);
		padding-right: calc(50% - 634px);
	}

	.section-heading {
		&.larger-screens {
			display:none;
			@media (min-width:layout-ems(900px)) {
				display: block;
			}
		}

		&.smaller-screens {
			@media (min-width:layout-ems(600px)) {
				font-size: px-to-ems(38px);
				line-height: return-ems(38px,50px);
			}
			@media (min-width:layout-ems(630px)) {
				font-size: px-to-ems(42px);
				line-height: return-ems(38px,50px);
			}
			@media (min-width:layout-ems(900px)) {
				display: none;
			}
		}
	}

	.text-content {

		@media (min-width:layout-ems(900px)) {
			float: left;
			width:45%
		}

	}

	.video {
		margin-bottom: 50px;

		@media (min-width:layout-ems(900px)) {
			float: right;
			margin: 0;
			width:50%
		}
	}

	.video-container {
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		overflow: hidden;
	}
	.video-container iframe,
	.video-container object,
	.video-container embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.btn {
		background-color: #E14737;
		border-radius: 5px;
		color: #FFFFFF;
		display: inline-block;
		font-size: 17px;
		line-height: 50px;
		height: 50px;
		margin-top: 25px;
	    padding-left: 15px;
	    padding-right: 15px;
	    font-weight: normal;

	    &:hover {
	    	background-color:darken(#E14737,10%);
	    }
	}

}

#thirty-years-later {
	@include clearfix;
	background:url(/wp-content/themes/brt-taxhub/_img/30yrs-later@1x.jpg) no-repeat center center;
	background-size: cover;
	color:$color-white;
	padding:9.02vw px-to-ems(30px) 9.22vw;
	position: relative;

	@media (min-width:layout-ems(1200px)) {
		padding:px-to-ems(130px) px-to-ems(30px) px-to-ems(140px);

		&::before {
			background:url(/wp-content/themes/brt-taxhub/_img/first-red-line@1x.png);
			@include image-2x('/wp-content/themes/brt-taxhub/_img/first-red-line@2x.png');
			background-repeat: no-repeat;
			background-size: 648px 487px;
			content: '';
			height: px-to-ems(487px);
			left:50%;
			margin-left:px-to-ems(-525px);
			position: absolute;
			top:px-to-ems(641px);
			width:px-to-ems(648px);
		}

	}

	@media (min-width:layout-ems(1328px)) {
		padding-left: calc(50% - 634px);
		padding-right: calc(50% - 634px);
	}

	.text-content {

		@media (min-width:layout-ems(900px)) {
			float: left;
			margin-top:7%;
			max-width:px-to-ems(610px);
			width:56%
		}

		@media (min-width: layout-ems(1200px)) {
			margin-top: px-to-ems(88px);
		}

		p {
			max-width:50ch;
		}
	}

	.datamoji {
		@include center;
		margin-top: px-to-ems(80px);
		max-width:px-to-ems(463px);
		width:100%;

		@media (min-width:layout-ems(600px)) {
			float: right;
		}

		@media (min-width:layout-ems(900px)) {
			margin: 0;
			width:38.58%
		}

		@media (min-width:layout-ems(1200px)) {
			width:px-to-ems(463px);
		}
	}
}

#keeping-jobs-at-home {
	@include clearfix;
	padding:16.38vw px-to-ems(30px) 13.47vw;
	position: relative;

	@media (min-width:layout-ems(1200px)) {
		padding:px-to-ems(236px) px-to-ems(30px) px-to-ems(194px);

		&::before {
			background:url('/wp-content/themes/brt-taxhub/_img/second-red-line@1x.png');
			@include image-2x('/wp-content/themes/brt-taxhub/_img/second-red-line@2x.png');
			background-repeat: no-repeat;
			background-size: 465px 382px;
			content: '';
			height: px-to-ems(382px);
			left:50%;
			margin-left:px-to-ems(-342px);
			position: absolute;
			top:px-to-ems(648px);
			width:px-to-ems(465px);
		}
	}

	@media (min-width:layout-ems(1328px)) {
		padding-left: calc(50% - 634px);
		padding-right: calc(50% - 634px);
	}

	.text-content {

		@media (min-width:layout-ems(900px)) {
			float: right;
			margin-top:4%;
			width: 54%;
		}

		@media (min-width:layout-ems(1200px)) {
			margin-top: px-to-ems(62px);
			max-width:px-to-ems(614px);
		}

		p {
			max-width:48ch;
		}
	}

	.datamoji {
		display: block;
		margin-top:px-to-ems(80px);
		max-width: px-to-ems(401px);
		@media (min-width:layout-ems(600px)) {
			float: right;
		}

		@media (min-width:layout-ems(900px)) {
			float: left;
			width:33.41%;
		}

		@media (min-width:layout-ems(1200px)) {
			width:px-to-ems(401px);
		}
	}
}

#two-million-new-jobs {
	background:url(/wp-content/themes/brt-taxhub/_img/2million-jobs@1x.jpg) no-repeat center center;
	background-size: cover;
	@include clearfix;
	color: $color-white;
	padding: 15.42vw px-to-ems(30px) 11.875vw;

	@media (min-width:layout-ems(1200px)) {
		padding: px-to-ems(222px) px-to-ems(30px) px-to-ems(171px);
	}

	@media (min-width:layout-ems(1328px)) {
		padding-left: calc(50% - 634px);
		padding-right: calc(50% - 634px);
	}

	.text-content {

		@media (min-width:layout-ems(900px)) {
			float:left;
			max-width:px-to-ems(540px);
			width:48%
		}

		@media (min-width: layout-ems(1200px)) {
			width:px-to-ems(540px);
		}

		p {
			font-size: px-to-ems(20px);
			line-height: return-ems(24px,20px);
			max-width:48ch;
		}
	}

	.datamoji {
		display: inline-block;
		margin-top: px-to-ems(80px);
		max-width: px-to-ems(418px);

		@media (min-width:layout-ems(600px)) {
			float: right;
		}

		@media (min-width:layout-ems(900px)) {
			margin:0;
		}
	}
}

#act-now {
	@include clearfix;
	padding:5.14vw 0 px-to-ems(114px);
	margin-left:px-to-ems(30px);
	margin-right: px-to-ems(30px);

	@media (min-width:layout-ems(1200px)) {
		padding:px-to-ems(74px) 0 7.92vw;
	}

	@media (min-width:layout-ems(1328px)) {
		border-bottom:3px solid #979797;
		@include center;
		width:px-to-ems(1268px);
	}

	.text-content {
		max-width:px-to-ems(596px);

		@media (min-width:layout-ems(900px)) {
			float: left;
			max-width: px-to-ems(596px);
			width:49.666%;
		}

		@media (min-width:layout-ems(1200px)) {
			width:px-to-ems(596px);
		}

		h3 {
			color:#4a4a4a;
			font-family: $font-stack-proxima;
			font-size:px-to-ems(28px);
			line-height: 1;
			font-weight: 700;

			@media (min-width:layout-ems(600px)) {
				font-size:px-to-ems(48px);
			}
		}

		p {
			font-size: px-to-ems(16px);
			line-height: return-ems(27px,20px);
			margin-top: return-ems(42px,20px);
			max-width:return-ems(580px,20px);

			@media (min-width:layout-ems(600px)) {
				font-size: px-to-ems(20px);
			}
		}
	}

	.advocacy {
		@include center;
		margin-top: px-to-ems(40px);
		max-width:px-to-ems(500px);

		@media (min-width:layout-ems(900px)) {
			float: right;
			margin:0;
			max-width:px-to-ems(500px);
			width:41.666%;
		}

		@media (min-width:layout-ems(1200px)) {
			width:px-to-ems(500px);
		}

		iframe {
			height: px-to-ems(570px) !important;
			margin-top:-1px;
			overflow: hidden;
		}
	}
}

#more-resources {
	@include clearfix;
	padding: 4.86vw px-to-ems(30px) 0;

	@media (min-width:layout-ems(1200px)) {
		padding: px-to-ems(70px) px-to-ems(30px) 0;
	}

	@media (min-width:layout-ems(1328px)) {
		padding-left: calc(50% - 634px);
		padding-right: calc(50% - 634px);
	}

	.section-heading {
		margin-bottom: return-ems(36px,50px);
	}

	.resource-listing {
		@media (min-width:layout-ems(600px))
		{
			@include clearfix;
			margin-left: px-to-ems(-10px);
			margin-right:px-to-ems(-10px);
		}

	}

	.resource {
		margin:0 0 px-to-ems(44px);

		@media (min-width:layout-ems(600px)) {
			float: left;
			margin:0 px-to-ems(10px) px-to-ems(44px);
			width:calc(50% - 20px);

			&:nth-child(2n+1) {
				clear:left;
			}
		}

		@media (min-width: layout-ems(768px)) {
			width:calc(33.333% - 20px);

			&:nth-child(2n+1) {
				clear:none;
			}

			&:nth-child(3n+1) {
				clear:left;
			}
		}

		@media (min-width:layout-ems(900px)){
			margin-bottom:px-to-ems(88px);
		}
	}

}

.resource-title {
	font-family: $font-stack-proxima;
	font-size: px-to-ems(24px);
	font-weight: 700;
	line-height: return-ems(29px,24px);
	padding:return-ems(23px,24px) return-ems(27px,24px) return-ems(27px,24px);
	position: relative;

	@media (min-width:layout-ems(600px)) and (max-width:layout-ems(899px)) {
		font-size: px-to-ems(18px);
		padding:return-ems(23px,24px) return-ems(14px,18px) return-ems(27px,24px);
	}

	&::before {
		background-color: $color-red;
		content: '';
		display: block;
		height: return-ems(10px,24px);
		left:return-ems(27px,24px);
		position: absolute;
		top:0;
		width: return-ems(47px,24px);

		@media (min-width:layout-ems(600px)) and (max-width:layout-ems(899px)) {
			left:return-ems(14px,24px);
		}
	}
}

.resource {

	.video {
		display: block;
		position: relative;
	}

	.icon {
		background:url(/wp-content/themes/brt-taxhub/_img/video.png) no-repeat;
		background-size: 62px 63px;
		display: block;
		height: px-to-ems(63px);
		left:50%;
		margin-left: px-to-ems(-31px);
		top:50%;
		margin-top:px-to-ems(-31px);
		position: absolute;
		width: px-to-ems(62px);
	}
}

.resource-link {
	color:$color-red;
	font-family: $font-stack-proxima;
	font-size: px-to-ems(18px);
	font-weight: 700;
	padding-left: return-ems(27px,18px);

	@media (min-width:layout-ems(600px)) and (max-width:layout-ems(899px)) {
		font-size: px-to-ems(16px);
		padding-left: return-ems(14px,16px);
	}
}

footer {
	background-color: #25282a;

	padding:px-to-ems(19px) 0;
	text-align: center;

	@media (min-width:layout-ems(600px)) {
		height: px-to-ems(50px);
		padding: 0;
		text-align: left;
	}
}

.primary-links {
	margin:0;
	padding: 0;
	list-style-type: none;

	@media (min-width:layout-ems(600px)) {
		@include clearfix;
		float: left;
		padding:px-to-ems(19px) px-to-ems(30px);
	}

	li {
		margin-bottom: px-to-ems(10px);
		@media (min-width:layout-ems(600px)) {
			float: left;
			margin-bottom: 0;
		}
	}

	a {
	    color: #808284;
	    font-size: px-to-ems(12px);
	    font-weight: 400;
	    line-height: 1;

	    @media (min-width:layout-ems(600px)) {
	    	border-left: 1px solid #5a5c5e;
	    	display: block;
	    	padding: 0 return-ems(10px,12px);
	    }
	}

	li:first-child a {
		border-left: 0;
	}

}

#datamoji {
	max-width: 1200px;
	margin: 40px auto;
	display: -webkit-flex;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;

	figure {
		flex: 0 1 21.9375em;
		padding: 0 0 30px;
	}
}

.social-links {
	@include clearfix;
	display: inline-block;
	margin:0;
	list-style-type: none;
	padding:0;
	@media (min-width:layout-ems(600px)) {
		display: block;
		float: right;
	}

	li {
		display: inline;
	}

	a {
		background:#4e5458;
		border-left:1px solid #25282a;
		display: block;
		float: left;
		height: px-to-ems(50px);
		overflow: hidden;
		position: relative;
		text-indent: -999em;
		width: px-to-ems(50px);
	}

	a::after {
		background-image: url(/wp-content/themes/brt-taxhub/_img/sprite.png);
		background-repeat: no-repeat;
		content: '';
		display: block;
		position: absolute;
	}
	.twitter a::after {
		background-position: -250px -305px;
	    border-left:0;
	    height: px-to-ems(20px);
	    left: px-to-ems(12px);
	    top: px-to-ems(15px);
		width: px-to-ems(26px);
	}

	.facebook a::after {
		background-position: -308px -155px;
		height: px-to-ems(26px);
		left: px-to-ems(18px);
		top: px-to-ems(12px);
		width: px-to-ems(14px);
	}

	.youtube a::after {
		background-position: -259px -260px;
		height: px-to-ems(25px);
		left: px-to-ems(12px);
		top: px-to-ems(12px);
		width: px-to-ems(25px);
	}

	.medium a::after {
		background-position: -289px -260px;
		height: px-to-ems(23px);
		left: px-to-ems(12px);
		top: px-to-ems(13px);
		width: px-to-ems(27px);
	}
}

#video-modal {
	background-color:rgba(0,0,0,.85);
	position: fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:3;

	.video-container {
		position: absolute;
		top:50%;
		left:50%;
		transform:translate(-50%, -50%);
		max-width: 70%;
		width:100%;
	}

	.video {
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		overflow: hidden;
		margin-bottom: 10px;
	}
	.video iframe,
	.video object,
	.video embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.close-btn {
	border:2px solid $color-white;
	border-radius:50%;
	cursor: pointer;
	height:px-to-ems(50px);
	overflow: hidden;
	opacity: .5;
	position: absolute;
	z-index: 500;
	top:px-to-ems(-70px);
	right: 0;
	text-indent: -999em;
	width:px-to-ems(50px);
	span {
		background: $color-white;
		border-radius:px-to-ems(10px);
		display: block;
		height: px-to-ems(30px);
		left:50%;
		margin-left:px-to-ems(-2px);
		position: absolute;
		top:50%;
		margin-top:px-to-ems(-15px);
		width:px-to-ems(5px);
	}
	span:nth-child(1) {
		 -moz-transform: rotate(-45deg);
	    -webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	}
	span:nth-child(2) {
		 -moz-transform: rotate(45deg);
	    -webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	    transform: rotate(45deg);
	}
}
